 body {
    margin: 0;
 }
 .header {
    display:flex ;
    justify-content: space-between;
    justify-items: center;   
    background: linear-gradient(#a7b137, #FEFEFE);
 }
 
 .header  a{
    justify-content: space-between;
    margin-left: 10px;    
    margin: 10px;  
    text-decoration: none;       
 }

 ul {
    display: flex;    
    justify-content: space-between;
    list-style-type: none;   
 }

ul li {
    display: flex;
    margin: 15px;  
}


 
 
 